/* https://css-tricks.com/snippets/css/using-font-face/#article-header-id-0 */
@font-face {
  font-family: 'CuprumBold';
  src: url('../fonts/CuprumBold/CuprumBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/CuprumBold/CuprumBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/CuprumBold/CuprumBold.ttf')  format('truetype'); /* Safari, Android, iOS */
       font-weight: bold;
       font-style: normal;
}

@font-face {
  font-family: 'CuprumRegular';
  src: url('../fonts/CuprumRegular/CuprumRegular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/CuprumRegular/CuprumRegular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/CuprumRegular/CuprumRegular.ttf')  format('truetype'); /* Safari, Android, iOS */
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'CuprumItalic';
  src: url('../fonts/CuprumItalic/CuprumItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/CuprumItalic/CuprumItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/CuprumItalic/CuprumItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
       font-weight: normal;
       font-style: italic;
}

@font-face {
  font-family: 'PTSansNarrowRegular';
  src: url('../fonts/PTSansNarrowRegular/PTSansNarrowRegular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/PTSansNarrowRegular/PTSansNarrowRegular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/PTSansNarrowRegular/PTSansNarrowRegular.ttf')  format('truetype'); /* Safari, Android, iOS */
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'PTSansRegular';
  src: url('../fonts/PTSansRegular/PTSansRegular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/PTSansRegular/PTSansRegular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/PTSansRegular/PTSansRegular.ttf')  format('truetype'); /* Safari, Android, iOS */
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'PTSansBold';
  src: url('../fonts/PTSansBold/PTSansBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/PTSansBold/PTSansBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/PTSansBold/PTSansBold.ttf')  format('truetype'); /* Safari, Android, iOS */
       font-weight: bold;
       font-style: normal;
}


